.convercao-section {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 90px;
}

.container {
  position: relative;
  z-index: 1;
  width: 80%;
  margin-top: 140px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 8px;
  background: none;
}

h1.title {
  margin-bottom: 48px;
  font-size: 36px;
  color: #121f16;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

p {
  color: #121f16;
}

.mat-select,
input[type="number"] {
  width: 100%;
  height: 10px;
  padding: 1px;
  font-size: 16px;
}

.mdc-text-field--filled {
  background-color: transparent;
}

.high-value-icon {
  color: #465c45;
  margin-left: 8px;
  vertical-align: middle;
}

.mat-form-field,
.mat-form-field input,
.mat-select {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  align-items: center;
}

.button-container {
  flex: 1;
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  flex: 1;
  height: 40px;
  margin: 0 5px;
  font-size: 16px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 450;
  color: #fff;
}

.button-container .btn-04 {
  padding: 8px 12px;
  background-color: #121f16;
}

.button-container .btn-05 {
  padding: 8px 12px;
  background-color: #465c45;
}

.mat-form-field:hover,
.button-container button:hover {
  background-color: #98b798;
}

div[ngIf] {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.converted-value {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.converted-value .principal {
  margin-bottom: 24px;
  font-weight: 500;
}

.converted-value .principal p{
  font-size: 28px;
}

.converted-value p {
  font-size: 16px;
}

span {
  font-size: 26px;
  color: #d79711;
}

.text-taxa{
  color: #121f16;
  padding-bottom: 14px;
}

@media screen and (max-width: 768px) {
  h1.title {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 90%;
    margin-top: 30px;
    padding: 15px;
  }

  .mat-form-field,
  .button-container button {
    margin: 5px 0;
  }

  .button-container button {
    font-size: 12px;
    padding: 6px 10px;
    margin-left: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .form-container[_ngcontent-ng-c2970529669] {
    flex-direction: column;
    align-items: center;
  }
}
