<footer class="footer">
    <div class="footer__container">
            <div class="footer__menu">
                <div class="footer__logo">
                    <a href="#">
                        <img src="assets/imagem/logovcoin.png" alt="logo do conversor de moedas vcoin">
                    </a>
                </div>
                <div class="contato">
                    <div class="title">
                        <p>|</p>
                        <h1>Redes Sociais</h1>
                    </div>
                    <a href="https://www.linkedin.com/in/victor-wesley/" target="_blank">
                        <img src="/assets/imagem/linkedin.png" alt="Icone do linkedin">
                    </a>
                    <a href="https://www.instagram.com/victor_wesley260/" target="_blank">
                        <img src="/assets/imagem/instagram.png" alt="Icone do instagram">
                    </a>
                    <a href="https://github.com/vctrwesley" target="_blank">
                        <img src="/assets/imagem/git.png" alt="Icone do github">
                    </a>
                </div>
            </div>
        <div class="footer-copyright">
            <span>&copy; 2024 Victor Wesley - Todos os Direitos Reservados</span>
        </div>
    </div>
</footer>