<section class="sobre-section">
  <div class="container">
    <div class="left-content">
      <img src="/assets/imagem/victor-wesley.png" alt="Foto do autor da plataforma" />
    </div>
    <div class="right-content">
      <h2><span> Victor Wesley </span></h2>
      <p>
        Este projeto de conversão de moedas foi um dos desafios de nivelamento do
        projeto de Residência de Software da Universidade Federal do Estado do Rio de Janeiro.
      </p>
      <br />
      <p>
        O desafio proposto pela IUUL tinha como objetivo o desenvolvimento de uma aplicação em
        Angular que realize a
        <span> conversão de valores monetários entre diferentes moedas, </span>
        com o objetivo principal de aprimorar o conhecimento do framework utilizado.
      </p>
    </div>
  </div>
</section>
