body {
  background-color: #e8e9e4;
  font-family: "DM Sans", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.mat-typography {
  overflow: visible !important;
}