<header class="header" id="menu">
  <nav class="navbar navbar-expand-lg bg-img fixed-top" role="banner">
    <div class="bar-container">
      <a class="logo navbar-brand" href="">
        <img src="/conversor/src/assets/imagem/logovcoin.svg" alt="Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarOffcanvasLg"
        aria-controls="navbarOffcanvasLg"
        aria-label="Toggle navigation"
      >
        <img src="" alt="menu lateral do mobile" width="25rem" />
      </button>
    </div>
    <div
      class="offcanvas offcanvas-end bg-color"
      tabindex="-1"
      id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel"
    >
      <div class="offcanvas-header">
        <a class="offcanvas-title text-warning" id="offcanvasNavbarLabel">
          <img src="" alt="Logo" width="40rem" />
        </a>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body menu-container">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="./usuario/page-home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./usuario/page-conversao"
              >Conversão</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./usuario/page-historico"
              >Histórico</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./usuario/page-moedas">Moedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./usuario/page-sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
