<section id="home">
    <div class="banner">
        <div class="logo">
            <img src="assets/imagem/logobranca.svg" alt="Logo" />
        </div>
    </div>
</section>
<section id="home-02">
    <div class="section-02">
        <div class="banner-content">
            <div class="slogan">
                <h1>
                    Sua solução confiável para conversões monetárias. 
                    Faça agora uma conversão em poucos clique e 
                    simplifique suas transações globais.
                </h1>
            </div>
            <button routerLink="/usuario/page-conversao">Converter Moedas</button>
        </div>
    </div>
</section>